$primary-color: #f44336;
$default-color: #fff;
$text-small: 12px;
$text-medium: 30px;
$text-large: 46px;
$rounded-sm: 5px;
$rounded-md: 20px;
$rounded-lg: 35px;

body {
    font-family: "Roboto", sans-serif;
    margin: 0;
    padding: 0;
    font-size: $text-large;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f5f5f5;
}

button {
    padding: 16px 30px;
    border: 2px solid black; // Add border to make the background slide effect more visible
    cursor: pointer;
    color: $default-color;
    font-size: $text-medium;
    border-radius: $rounded-sm;
    outline: none;

    //
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    position: relative;
    display: flex;
    height: 45px;
    width: fit-content;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    border-radius: 8px;
    padding: 0 10px;
    background-color: $primary-color;
    font-size: small;
    color: $default-color;
    font-weight: 400;
    transition: all 0.3s ease;
    
    @media screen and (min-width: 768px) {
        height: 48px;

        
    }
    @media screen and (min-width: 1024){
        width: 154px;
        font-size: $text-medium;
    }

    div {
        position: absolute;
        bottom: -2px;
        left: -1rem;
        right: 0px;
        z-index: 10;
        margin: 0 auto;
        height: 0px;
        width: 160px;
        border-radius: $rounded-lg;
        background: #fff;
        transition: all 3s ease;
        
        &:hover {
            height: 52px;
        }
        span {
            z-index: 11;
            &:hover {
                color: $primary-color;
            }
        }
    }
}

